<script type="application/json" class="opal-data" data-hunt="{{ slug }}" data-label="{{ label }}">
{{ data_json | safe }}
</script>
<ol class="opal-list" data-hunt="{{ slug }}">
  {% for puzzle in puzzles %}
    <li data-index="{{ loop.index }}">
      <a href="{% if puzzle["filename"] %}/opals/{{ puzzle["filename"] }}{% else %}javascript:;{% endif %}">{{ puzzle["title"] }}</a>
      {% if puzzle["is_metapuzzle"] %}(meta){% endif %}
      by {{ puzzle["credits"] or "Unknown" }}
    </li>
  {% endfor %}
</ol>
