pythontex_data.pkl
**.aux
**.bbl
**.bcf
**.blg
**.brf
**.fdb_latexmk
**.fls
**.log
**.out
**.pre
**.pytxcode
**.pytxmcr
**.pytxpyg
**.run.xml
**.toc
**.synctex.gz
**.synctex(busy)

**-[0-9].asy
**-[0-9][0-9].asy
**.pdf
