/*  *  *  *  *  *  *  *  *  *  *  *

	layout

 *  *  *  *  *  *  *  *  *  *  *  */

#header {
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 8em;
	z-index: 5;
	border-bottom: 1px solid #0066CC;
}

#main {
	position: absolute;
	overflow: auto;
	top: 8.2em;
	right: 0;
	bottom: 2em;
	left: 0em;
	margin: 0;
	padding: 0;
	z-index: 3;
	text-align: center;
}

* html #main {
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	max-height: 100%;
	width: 100%;
	z-index: 3;
	border-top: 8.2em solid #FFFFF2;
	border-bottom: 2em solid #FFFFF2;
	border-left: 0px;
}

#header #sub {
	position: relative;
	
}

#header #menu {
	white-space: nowrap;
	height: 1.4em;
	padding: 0.4em 0 0.2em 0;
	text-align: center;
	color : #0F3678; 
}

#header #menu a {
	padding: 0em 0.3em;
	font-variant: small-caps;
	font-weight: normal;
}


.intro {
	width: 80%;
	margin: 0 auto;
	background-color: #FCFCD9;
	padding: 0.8em;
	border: 1px solid #BEB761;
	text-align: left;
}

/*
.intro div {
	background-color: #FCFCD9;
	padding: 0.8em;
	border: 1px solid #BEB761;
	font-size: 1em;
	text-align: left;
}
*/

    
